<div class="card shadow p-4 mt-5">
    <h4 class="">Available Placement Drives</h4>
    {% if drives %}
    <table class="table table-bordered table-hover mt-3">
        <thead class="table-light">
            <tr>
                <th>Company</th>
                <th>Job Title</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for drive in drives %}
            <tr>
                <td>{{ drive.company.company_name }}</td>
                <td>{{ drive.job_title }}</td>
                <td>{{ drive.deadline.strftime('%Y-%m-%d') }}</td>
                <td>
                    <!-- <a href="/student/apply/{{ drive.id }}" 
                       class="btn btn-success btn-sm">
                       Apply
                    </a> -->
                    {% if drive.id in applied_drive_ids %}
                        <button class="btn btn-secondary btn-sm" disabled> Applied </button>
                    {% else %}
                     <a href="/student/apply/{{ drive.id }}" class="btn btn-success btn-sm"> Apply </a>   
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-muted">No drives available.</p>
    {% endif %}
</div>