{% extends "student/base.html" %}

{% block content %}

<div class="profile-container">

<h2 class="page-title">Student Profile</h2>

<div class="profile-card">

<form method="POST" enctype="multipart/form-data">

    {% with messages = get_flashed_messages() %}
{% if messages %}

<div style="background:#d4edda;padding:10px;border-radius:5px;margin-bottom:15px;color:#155724;">
{{ messages[0] }}
</div>

{% endif %}
{% endwith %}
<div class="form-group">
<label>Name</label>
<input type="text" name="name"
value="{{ student.name if student else '' }}" required>
</div>

<div class="form-group">
<label>Roll Number</label>
<input type="text" name="roll_no"
value="{{ student.roll_no if student else '' }}" required>
</div>

<div class="form-group">
<label>Email</label>
<input type="email"
value="{{ current_user.email }}" disabled>
</div>

<div class="form-group">
<label>Branch</label>
<input type="text" name="branch"
value="{{ student.branch if student else '' }}">
</div>

<div class="form-group">
<label>CGPA</label>
<input type="number" step="0.01" name="cgpa"
value="{{ student.cgpa if student else '' }}">
</div>

<div class="form-group">
<label>Phone</label>
<input type="text" name="phone"
value="{{ student.phone if student else '' }}">
</div>

<div class="form-group">
<label>Upload Resume (PDF)</label>
<input type="file" name="resume">
</div>

<button type="submit" class="update-btn">
Update Profile
</button>

</form>

{% if student and student.resume %}

<div class="resume-section">

<span>Resume:</span>

<a href="{{ url_for('static', filename='uploads/resumes/' + student.resume) }}"
target="_blank"
class="resume-link">

View Resume

</a>

</div>


{% endif %}

</div>

</div>

{% endblock %}