{% block navbar %}

<nav class="navbar navbar-expand-lg custom-navbar px-4 shadow-sm">

    <a class="navbar-brand fw-bold text-white" href="#">
         Placement Portal
    </a>

    <div class="ms-auto d-flex align-items-center">

        {% if current_user.is_authenticated %}

            {% if current_user.role == 'student' %}

                <a href="{{ url_for('student.dashboard') }}" class="nav-link text-white me-3">
                   Dashboard
                </a>

                <a href="{{ url_for('student.stu_profile', id=current_user.student.id) }}" class="nav-link text-white me-3">
                   Profile
                </a>

                <a href="{{ url_for('student.application') }}" class="nav-link text-white me-3">
                   Applications
                </a>

                <a href="{{ url_for('student.history') }}" class="nav-link text-white me-3">
                   History
                </a>

            {% endif %}

            {% if current_user.role == 'company' %}

                <a href="{{ url_for('company.company_dashboard') }}" class="nav-link text-white me-3">
                   Dashboard
                </a>

                <a href="{{ url_for('company.create_drive') }}" class="nav-link text-white me-3">
                   Create Drive
                </a>

                <a href="{{ url_for('company.placement_drives') }}" class="nav-link text-white me-3">
                   My Drives
                </a>
                <a href="{{ url_for('company.profile') }}" class="nav-link text-white me-3">
                   Profile
               </a>

            {% endif %}

               {% if current_user.role == 'admin' %}

                <a href="{{ url_for('admin.a_admin') }}" class="nav-link text-white me-3">
                Dashboard
                </a>

                <a href="{{ url_for('admin.students') }}" class="nav-link text-white me-3">
                Students
                </a>

                <a href="{{ url_for('admin.companies') }}" class="nav-link text-white me-3">
                Companies
                </a>
                 <a href="{{ url_for('admin.applications') }}" class="nav-link text-white me-3">
                Applications
                </a>
                <a href="{{ url_for('admin.drives') }}" class="nav-link text-white me-3">
                Drives
                </a>

            {% endif %}

            <a href="{{ url_for('auth_bp.logout') }}" class="btn btn-light btn-sm px-3 ms-3">
               Logout

            </a>

        {% else %}

            <a href="{{ url_for('auth_bp.login') }}" class="btn btn-light btn-sm me-2">
               Login
            </a>

            <a href="{{ url_for('auth_bp.register_student') }}" class="btn btn-success btn-sm">
               Register
            </a>

        {% endif %}

    </div>

</nav>

{% endblock %}