/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#f4f6f9;
}

/* LOGIN PAGE */

.auth-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f6f9;
}
.login-container{
    width:400px;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
}

.login-container h2{
    text-align:center;
    margin-bottom:25px;
}

.login-container input,
.login-container select{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

.login-container button{
    width:100%;
    padding:10px;
    background:#0e0b2c;
    border:none;
    color:white;
    border-radius:6px;
    margin-top:10px;
}

.login-container button:hover{
    background:#0b7032;
}

/* FLASH MESSAGE */

.flash{
    padding:10px;
    margin-bottom:15px;
    border-radius:6px;
}

.flash.success{
    background:#e8f1ff;
    color:#1e3c72;
}

.flash.error{
    background:#ffe9ec;
    color:#a4161a;
}

/* SIDEBAR */

.sidebar{
    background:#0e0b2c;
    min-height:100vh;
}

.sidebar .nav-link{
    color:white;
    padding:10px;
}

.sidebar .nav-link:hover{
    background:#0c6fc0;
    border-radius:5px;
}

/* DASHBOARD CARDS */

.stat-card{
    border-radius:10px;
    transition:0.2s;
}

.stat-card:hover{
    transform:translateY(-3px);
}

/* TABLE */

.table{
    background:white;
}
.custom-navbar{
    background:linear-gradient(135deg,#0e0b2c,#0c6fc0);
}