{% if pending_drives %}

    <table class="table table-bordered table-hover">

        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Drive Name</th>
                <th>Company</th>
                <th>Role</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for drive in pending_drives %}

            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ drive.drive_name }}</td>
                <td>{{ drive.company.company_name }}</td>
                <td>{{ drive.role }}</td>
                <td>{{ drive.deadline }}</td>
                <td>

                    <a href="{{ url_for('admin.approve_drives', id=drive.id) }}"
                    class="btn btn-success btn-sm">Approve</a>

                    <a href="{{ url_for('admin.drives_reject', id=drive.id) }}"
                    class="btn btn-danger btn-sm">Reject</a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    {% else %}

    <p class="text-muted">No pending drives</p>

{% endif %}